/node_modules/
/dist/
/package-lock.json

# Build Output
/decorators
/dtos
/enums
/exceptions
/interfaces
/responses
/types
/utils
/base-entity.d.ts
/base-entity.d.ts.map
/base-entity.js
/base-entity.js.map
/base-repository.d.ts
/base-repository.d.ts.map
/base-repository.js
/base-repository.js.map
/crud.service.d.ts
/crud.service.d.ts.map
/crud.service.js
/crud.service.js.map
/hichchi-crud.module.d.ts
/hichchi-crud.module.d.ts.map
/hichchi-crud.module.js
/hichchi-crud.module.js.map
/index.d.ts
/index.d.ts.map
/index.js
/index.js.map
/tokens.d.ts
/tokens.d.ts.map
/tokens.js
/tokens.js.map
/base-entity-template.d.ts
/base-entity-template.d.ts.map
/base-entity-template.js
/base-entity-template.js.map
/classes/paginated-response.d.ts
/classes/paginated-response.d.ts.map
/classes/paginated-response.js
/classes/paginated-response.js.map
