/node_modules/
/dist/
/package-lock.json
decorators
dtos
enums
exceptions
interfaces
responses
types
utils
base-entity.d.ts
base-entity.d.ts.map
base-entity.js
base-repository.d.ts
base-repository.d.ts.map
base-repository.js
crud.service.d.ts
crud.service.d.ts.map
crud.service.js
hichchi-crud.module.d.ts
hichchi-crud.module.d.ts.map
hichchi-crud.module.js
index.d.ts
index.d.ts.map
index.js
tokens.d.ts
tokens.d.ts.map
tokens.js
